input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}


#date-picker {
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    background-color: lavender;
    border: solid 1px black ;
    border-radius: 5px;
    text-align: center;
    /*float: left;*/
    display: inline-block;
    position: absolute;
    z-index: 1000;
}

#date-picker div span {
    font-size: 16px;
}

#current-month, #current-year {
    margin: 0 5px;
    color: grey;
}

#table-head {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: solid 3px #003399;
    margin-left:auto;
    margin-right:auto;
    margin: 10px;
    width: auto !important;

}

th {
    text-align: center;
    padding: 5px;
    border: solid 1px black;
    border-bottom:  solid 2px #003399;
}

td {
    text-align: center;
    padding: 5px;
    border: solid 1px black;
}

a {
    text-decoration: none;
    font-family: "sans-serif";
    font-size: 16px;
    color: blue;
}

.currentDate {
    background-color: aqua;
}

.day {
    font-family: "sans-serif";
    font-size: 20px;
    color: black;
}

.day:hover {
    color: red;
    background-color: ghostwhite;
}

section {
    overflow: visible!important;
}